@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Emp>

<h1>Emp</h1>

<a class="btn btn-info mb-3" asp-action="AddEmp" asp-controller="Emp">Add Employee</a>

<form asp-controller="Emp" asp-action="Index" method="get" class="form-control w-75 d-flex">
    <div class="form-group">
        <input type="text" id="srch" name="searchp" class="form-control form-control-md" placeholder="Search..." />
    </div>
    <br />
    <div class="form-group ml-2">
        <input type="submit" class="btn btn-sm btn-outline-warning ms-3 mt-1" value="Search" />
    </div>
</form>

@if (Model != null && Model.Count > 0)
{
    <form asp-action="DeleteSelected" method="post">
        <table class="table" id="mytable">
            <thead>
                <tr>
                    <th scope="col">
                        <input type="checkbox" id="selectAll" onclick="selectAllCheckboxes(this)" />
                    </th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" name="selectedIds" value="@i.Id" />
                        </td>
                        <th scope="row">@i.Id</th>
                        <td>@i.Name</td>
                        <td>@i.Salary</td>
                        <td>
                            <a asp-action="UpdateEmp" asp-controller="Emp" asp-route-id="@i.Id">
                                <button class="btn btn-success" type="button">Edit</button>
                            </a>
                            <a asp-action="DeleteEmp" asp-controller="Emp" asp-route-id="@i.Id">
                                <button class="btn btn-danger" type="button" onclick='return confirm("Are You Sure to Delete this Record?")'>Delete</button>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <button type="submit" class="btn btn-danger" onclick='return confirm("Are you sure to delete selected records?")'>Delete Selected</button>
    </form>
}
else
{
    <p>No employees available.</p>
}

@section scripts {
    <script>
        function selectAllCheckboxes(source) {
            checkboxes = document.getElementsByName('selectedIds');
            for (var i = 0; i < checkboxes.length; i++) {
                if (checkboxes[i] != source)
                    checkboxes[i].checked = source.checked;
            }
        }
    </script>
}
